Repository tarampampam/mikrotik-hosts-parser, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, .github, CI, go, tests, frontend, hosts, docker, dev

.github/labeler.yml:

docs:
  - '**/*.md'
  - '**/*.MD'

.github:
  - '.github/**/*'

CI:
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

go:
  - '**/*.go'

tests:
  - '**/*.spec.js'
  - '**/*.spec.ts'
  - '**/*.test.js'
  - '**/*.test.ts'
  - '**/*_test.go'
  - '**/testdata/**/*'
  - 'test/**/*'
  - '.golangci.yml'
  - 'codecov.yml'

frontend:
  - 'web/**/*'

hosts:
  - '.hosts/**/*'

docker:
  - 'Dockerfile'
  - 'docker/**/*'
  - '.dockerignore'

dev:
  - 'Makefile'
  - 'docker-compose.yml'
  - '.gitignore'
  - '.editorconfig'

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  .github/workflows/tests.yml
Labels: .github, CI

Github Actions updated
  Dockerfile
Labels: docker

Github Actions updated
  .github/workflows/tests.yml
  Dockerfile
Labels: .github, CI, docker

Github Actions updated
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: .github, CI

Changelog updated
  CHANGELOG.md
Labels: docs
